@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primaria: #30cfd0;
  --secundaria: #330867;
  --escuro: #0f172a;
  --maisEscuro: #0a0f1c;
  --claro: #e2e8f0;
  --vidroEscuro: rgba(255, 255, 255, 0.1);
  --botao: #240d59;
  --botao2: #4a4a4a;
  --letras: #e2e8f0;
}

[data-theme="dark"] {
  --primaria: #165bee;
  --secundaria: #000000;
  --escuro: #545557;
  --maisEscuro: #e2e8f0;
  --claro: #ffffff;
  --vidroEscuro: rgba(0, 0, 0, 0.158);
  --botao: #0077b6;
  --botao2: #64748b;
  --letras: #0a0f1c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

#sobre,
#projetos,
#experience,
#contatos {
  padding: 180px 0;
}

body {
  background-color: var(--escuro);
  color: var(--claro);
}

.navegacao {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 1.5rem;

  background: linear-gradient(
    to bottom,
    rgba(15, 23, 42, 0.9) 0%,
    rgba(15, 23, 42, 0.7) 50%,
    rgba(15, 23, 42, 0) 100%
  );
  backdrop-filter: blur(5px);
}

.navegacao.no-gradient {
  background: none;
  backdrop-filter: none;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 3rem;
}

.menu-link {
  text-decoration: none;
  color: var(--claro);
  font-weight: 500;
  position: relative;
  padding: 0.4rem;
}

.menu-link::after {
  content: "";
  height: 2px;
  width: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, var(--primaria), var(--secundaria));
  transition: width 0.5s ease;
}

.menu-link:hover::after {
  width: 100%;
}

.cabecalho {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 0;
}

.foto-perfil {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 4px solid #6b4b9b;
  box-shadow: 0 0 10px #6b4b9b;
  animation: flutuar 2s ease-in-out infinite;
  cursor: pointer;
  transition: all 0.3s ease;
}

.foto-perfil:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px #7a57b8, 0 0 25px #7a57b8, 0 0 35px #8c6bc5; /* brilho roxo suave */
  border-color: #7a57b8;
  filter: brightness(0.85);
}

h1 {
  font-size: 3.5rem;
  color: var(--primaria);
  font-weight: bold;
  margin: 20px;
}

.cabecalho-sub-titulo {
  font-size: 2rem;
  color: var(--letras);
}

.sobre {
  padding: 6rem 2rem;
}

.sobre-titulo {
  font-size: 3rem;
  color: var(--letras);
  text-align: center;
  margin-bottom: 20px;
}

.sobre-caixa {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  color: var(--letras);
  background: var(--vidroEscuro);
}

.sobre-paragrafo {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--letras);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.projetos {
  padding: 6rem 2rem;
}

.projetos-imagem {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.projetos-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: var(--letras);
}

.projetos-card {
  background: var(--vidroEscuro);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid var(--vidro);
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  display: block;
  transition: all 0.5s ease;
  color: var(--letras);
}

.projetos-card:hover {
  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
  transform: translateY(-10px);
  cursor: pointer;
}

.projetos-caixa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.info-projetos {
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  color: var(--letras);
}

.paragrafo-projetos {
  color: var(--letras);
  line-height: 1.25rem;
  text-align: center;
}

.caixa-textos-projeto {
  padding: 1.5rem;
}

.contatos {
  padding: 6rem 2rem;
}

.contatos-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: var(--letras);
}

.formulario-contato {
  max-width: 600px;
  margin: 0 auto;
  background: var(--vidroEscuro);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border: 1px solid var(--vidro);
  border-radius: 8px;
}

.campo-form {
  width: 100%;
  padding: 1rem;
  background: var(--vidroEscuro);
  border-radius: 8px;
  color: var(--letras);
  border: 1px solid var(--vidro);
  outline: none;
}

.campo-form:focus {
  border-color: var(--secundaria);
  box-shadow: var(--primaria);
  transition: all 0.5s ease;
  color: var(--letras);
}

.grupo-form {
  margin-bottom: 1.5rem;
}

.botao-form {
  color: var(--claro);
  background: linear-gradient(45deg, var(--botao), var(--botao2));
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: all 0.5 ease;
}

.botao-form:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
  transition: all 0.5s ease;
}

.particulas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: radial-gradient(
      circle at 10% 10%,
      var(--primaria) 0%,
      transparent 20%
    ),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 20%),
    radial-gradient(circle at 70% 40%, var(--primaria) 0%, transparent 20%),
    radial-gradient(circle at 30% 80%, var(--secundaria) 0%, transparent 20%),
    var(--maisEscuro);
}

.particulas {
  display: block;
  /* ou como estiver configurado */
}

.particulas:not(.ativo) {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 1;
  background-image: radial-gradient(#ffffff, #4a4a4a);
}

.wrapper {
  display: inline-flex;
  list-style: none;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  position: fixed;
  bottom: 0;
  right: 0;
  flex-direction: column;
}

.wrapper .icon {
  position: relative;
  background: var(--claro);
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  background: var(--claro);
  color: var(--claro);
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  white-space: nowrap;
  z-index: 10;
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: var(--claro);
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: -1;
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: var(--claro);
  color: var(--escuro);
}

.github:hover .tooltip::before {
  background: #2a2a2b;
}

.btn-theme {
  color: var(--claro);
  background: linear-gradient(45deg, var(--primaria), var(--secundaria));
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5 ease;
  width: 40px;
  height: 40px;
}

.btn-theme:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 15px rgba(79, 70, 229, 0.4);
  transition: all 0.5s ease;

  .icon-wrapper {
    display: inline-flex;
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  .icon-wrapper.exiting {
    transform: rotate(180deg) scale(0.5);
    opacity: 0;
  }

  .icon-wrapper.entering {
    transform: rotate(0deg) scale(1);
    opacity: 1;
  }
}

svg {
  color: var(--claro);
  width: 24px;
  height: 24px;
}

.footer {
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #fff; /* texto branco */

  background: radial-gradient(
    ellipse at center,
    rgba(34, 34, 34, 1) 0%,
    rgba(34, 34, 34, 0.8) 30%,
    rgba(34, 34, 34, 0.5) 60%,
    transparent 100%
  );
}
@keyframes flutuar {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 357px) {
  .navegacao .menu {
    gap: 8px;
    /* diminui o espaço entre os itens */
  }

  .navegacao .menu-link {
    font-size: 0.8rem;
    padding: 4px 2px;
  }

  .foto-perfil {
    width: 250px;
    height: 250px;
  }

  h1 {
    font-size: 2.5rem;
  }

  .cabecalho-sub-titulo {
    font-size: 1.6rem;
  }

  .projetos-titulo,
  .contatos-titulo,
  .sobre-titulo {
    font-size: 2rem;
  }

  .sobre-caixa {
    font-size: small;
  }

  .projetos-caixa,
  .sobre-caixa,
  .formulario-contato {
    max-width: 300px;
  }

  #sobre,
  #projetos,
  #contatos {
    padding: 60px 0;
  }
}

@media screen and (max-width: 295) {
  .navegacao .menu {
    gap: 6px;
    /* diminui o espaço entre os itens */
  }

  .navegacao .menu-link {
    font-size: 0.6rem;
    padding: 3px 1px;
  }

  .foto-perfil {
    width: 150px;
    height: 150px;
  }

  h1 {
    font-size: 1rem;
  }

  .cabecalho-sub-titulo {
    font-size: 1rem;
  }

  .projetos-titulo,
  .contatos-titulo,
  .sobre-titulo {
    font-size: 1rem;
  }

  .sobre-caixa {
    font-size: small;
  }

  .projetos-caixa,
  .sobre-caixa,
  .formulario-contato {
    max-width: 70px;
  }

  #sobre,
  #projetos,
  #contatos {
    padding: 10px 0;
  }
}
